nav {
    background-color: #FFA3B6;
    text-align: right;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: rgb(255, 255, 255);
}
nav li a:hover{
    background-color: rgb(255, 224, 121);
    color: rgb(255, 102, 102);
    transition:background-color 2s linear, color 2s ease-in-out;
}