.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  height: 150px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}


/* ............//// Showcase styling ////......... */

.showcase-area {
    height: 50vh;
    background: linear-gradient(rgba(240, 240, 240, 0.144),
            rgba(255, 255, 255, 0.336)),
        url("img/陪伴孩子成長的地方，老師如同和煦的晨曦般照耀在孩子身上。.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}


@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 2rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-35deg);
    }


    .navbar .menu-items li {
        margin-bottom: 2.5rem;
        font-size: 1.8rem;
        font-weight: 500;
    }
}

body {
    margin: 0px;
}

section {
    background-color: #d1e39a;
}

.wrapper {
    margin: 0 auto;
    width: 96%;
    max-width: 1120px;
}

.other {
    padding: 60px 0;
    background-color: #ffffff;
}

.other__title {
    font-size: 36px;
    color: #3b3b58;
    text-align: center;
    margin: 14px 0;
}

@media only screen and (min-width: 43.75em) {
    .other__intro {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.other--cta {
    color: #454545;
    background: #f1f1f1;
}


#about {
    padding: 0px 0;
    background: #ffe5b6;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 10px 0px;
}

#about h2 {
    font-size: 2.3rem;
}

#about p {
    font-size: 1.2rem;
    color: #555;
}

#about .small {
    font-size: 1.2rem;
    color: #666;
    font-weight: 600;
}

.about-img {
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
    100% {
        transform: translate(0);
    }
}

.about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
    100% {
        transform: translate(0);
    }
}

.about-img img {
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

footer {
    height: 100px;
    background-color: #d1e39a;
    text-align: center;
    padding: 20px;
    clear: both;
}

footer li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

footer li a {
    display: block;
    text-decoration: none;
    padding: 0px;
    color: rgb(0, 0, 0);
}

footer li a:hover {
    background-color: rgb(255, 224, 121);
    color: rgb(255, 102, 102);
    transition: background-color 2s linear, color 2s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 900px;
}

/* Slider */
#slider {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

@keyframes load {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

.slides {
    width: 400%;
    height: 100%;
    position: relative;
    -webkit-animation: slide 30s infinite;
    -moz-animation: slide 30s infinite;
    animation: slide 30s infinite;
}

.slider {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}

.image img {
    width: 100%;
    height: auto;
}

/* Legend */
.legend {
    border: 500px solid transparent;
    border-left: 800px solid rgba(52, 73, 94, .7);
    border-bottom: 0;
    position: absolute;
    bottom: 0;
}

/* Contents */
.content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.content-txt {
    width: 400px;
    height: 150px;
    float: left;
    position: relative;
    top: 300px;
    -webkit-animation: content-s 7.5s infinite;
    -moz-animation: content-s 7.5s infinite;
    animation: content-s 7.5s infinite;
}

.content-txt h1 {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    text-align: left;
    margin-left: 30px;
    padding-bottom: 10px;
}

.content-txt h2 {
    font-family: arial;
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
    color: #fff;
    text-align: left;
    margin-left: 30px;
}

/* Switch */
.switch {
    width: 120px;
    height: 10px;
    position: absolute;
    bottom: 50px;
    z-index: 99;
    left: 30px;
}

.switch>ul {
    list-style: none;
}

.switch>ul>li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.switch ul {
    overflow: hidden;
}

.on {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f39c12;
    position: relative;
    -webkit-animation: on 30s infinite;
    -moz-animation: on 30s infinite;
    animation: on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide {

    0%,
    100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    46% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    71% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    96% {
        margin-left: -300%;
    }
}

@-moz-keyframes slide {

    0%,
    100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    46% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    71% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    96% {
        margin-left: -300%;
    }
}

@keyframes slide {

    0%,
    100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    46% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    71% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    96% {
        margin-left: -300%;
    }
}


@-webkit-keyframes content-s {
    0% {
        left: -420px;
    }

    10% {
        left: 0px;
    }

    30% {
        left: 0px;
    }

    40% {
        left: 0px;
    }

    50% {
        left: 0px;
    }

    60% {
        left: 0px;
    }

    70% {
        left: 0;
    }

    80% {
        left: -420px;
    }

    90% {
        left: -420px;
    }

    100% {
        left: -420px;
    }
}

@-moz-keyframes content-s {
    0% {
        left: -420px;
    }

    10% {
        left: 0px;
    }

    30% {
        left: 0px;
    }

    40% {
        left: 0px;
    }

    50% {
        left: 0px;
    }

    60% {
        left: 0px;
    }

    70% {
        left: 0;
    }

    80% {
        left: -420px;
    }

    90% {
        left: -420px;
    }

    100% {
        left: -420px;
    }
}

@keyframes content-s {
    0% {
        left: -420px;
    }

    10% {
        left: 20px;
    }

    15% {
        left: 0px;
    }

    30% {
        left: 0px;
    }

    40% {
        left: 0px;
    }

    50% {
        left: 0px;
    }

    60% {
        left: 0px;
    }

    70% {
        left: 0;
    }

    80% {
        left: -420px;
    }

    90% {
        left: -420px;
    }

    100% {
        left: -420px;
    }
}

@-webkit-keyframes on {

    0%,
    100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: 15px;
    }

    46% {
        margin-left: 15px;
    }

    50% {
        margin-left: 30px;
    }

    71% {
        margin-left: 30px;
    }

    75% {
        margin-left: 45px;
    }

    96% {
        margin-left: 45px;
    }
}

@-moz-keyframes on {

    0%,
    100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: 15px;
    }

    46% {
        margin-left: 15px;
    }

    50% {
        margin-left: 30px;
    }

    71% {
        margin-left: 30px;
    }

    75% {
        margin-left: 45px;
    }

    96% {
        margin-left: 45px;
    }
}

@keyframes on {

    0%,
    100% {
        margin-left: 0%;
    }

    21% {
        margin-left: 0%;
    }

    25% {
        margin-left: 15px;
    }

    46% {
        margin-left: 15px;
    }

    50% {
        margin-left: 30px;
    }

    71% {
        margin-left: 30px;
    }

    75% {
        margin-left: 45px;
    }

    96% {
        margin-left: 45px;
    }
}

/* main */
/* Reset */
a {
    text-decoration: none;
    color: inherit;
}

html {
    width: 100%;
    height: 100%;
}

/* Body */
body {
    background: #fff;
}

.container {
    height: auto;
    padding: 20px 0;
    margin: auto;
}

.container h1 {
    font-family: Arial;
    font-size: 24px;
    color: #222;
    text-transform: uppercase;
    margin: 20px 0;
}

.container h2 {
    font-family: arial;
    font-size: 16px;
    color: #444;
    margin-top: 10px;
}

.container h3 {
    font-family: arial;
    font-weight: normal;
    font-size: 16px;
    color: #aaa;
}

.code {
    width: 600px;
    height: auto;
    margin: 20px auto;
    padding: 10px 20px;
    background: #222;
    border-left: 10px solid #aaa;
    font-family: arial;
    font-size: 16px;
    color: #fff;
}

.code span {
    color: #89A978;
}

.space {
    width: 20px;
    height: 1px;
    float: left;
}

#credits {
    position: relative;
    width: 100%;
    margin: auto;
    bottom: 0;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #b297a2;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

#credits a {
    color: #b297a2;
}

