header{
    height:200px;
    background-color:#A8FBFF;
}
aside{
    height:200px;
    background-color:#9ECBFF;
}
section{
    height:200px;
    background-color:#86EBD6;
}
footer{
    height:200px;
    background-color:#94FFCD;
}