header {
    height: 200px;
    background-color: #A8FBFF;
}

aside {
    height: 200px;
    background-color: #94FFCD;
    width: 30%;
    float: left;
}

section {
    height: 200px;
    background-color: #86EBD6;
    width: 35%;
    float: left;
}

footer {
    height: 200px;
    background-color: #9ECBFF;
    clear: both;
}