nav {
    background-color: aquamarine;
    text-align: center;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 5px;
}