@import url(reset.css);

body {
    background-color: rgb(221, 239, 255)
}

h1 {
    width: 300px;
    margin: auto auto 20px auto;
    color: rgb(255, 187, 0);
    border: 3px solid rgb(255, 208, 0);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 300%;
    text-align: center;
    line-height: 1;
}

h2 {
    padding: 10px;
    border: 1px dotted rgb(105, 158, 255);
    border-left: 10px solid rgb(105, 158, 255);
}

aside{
    padding: 10px;
    background-color:#E0FEDF;
    width: 50%;
    margin: 0px auto;
    border: 3px solid #EBE9C3;
    float: left;
}

main {
    padding: 10px;
    background-color: rgb(255, 254, 189);
    width: 50%;
    margin: 0px auto;
    border: 3px solid rgb(255, 166, 166);
    float: left;
}

.h {
    border-radius: 50%;
    text-shadow: 1px 1px 5px black
}

footer {
    padding: 10px;
    background-color: rgb(197, 255, 189);
    width: 80%;
    margin: 0px auto;
    border: 3px solid rgb(166, 197, 255);
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

table thead th {
    color: #ffffff;
    background: #66008f;
}

table td,
table th {
    text-align: center;
    padding: 10px;
}

table td {
    border-right: 1px solid #f1f1f1;
}

table tr:nth-child(even) {
    background: #f8f8f8;
}